<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Dashboard | Admin</title>
    <th:block th:insert="admin/base :: head"></th:block>
</head>

<body>
    <div th:insert="admin/base :: loading-animation"></div>
    <div th:insert="admin/base :: notify"></div>
    <div th:insert="admin/base :: navbar"></div>

    <div class="content d-flex vw-100 vh-100">
        <div th:insert="admin/base :: sidebar"></div>

        <div class="content-body px-0 py-4 px-md-4">
            <div class="row">
                <div class="col-12">
                    <main class="main-content">
                        <!--  Change content here  -->
                        <h4 class="p-3 pt-0 ps-lg-0 fs-4 fw-semibold">Title</h4>


                        <!--  Change content here  -->
                    </main>
                </div>
            </div>
        </div>
    </div>

    <div th:insert="admin/base :: footer"></div>
</body>
</html>
